<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </head>

    <body>


        <nav>
            <a class="active" href="/">Home</a>
            <a href="visualisation"> Visualisation</a>
            <a href="about"> About</a>
        </nav>

        <section id="explanation">
            <header>
                <h2><em> How to use this website?</em></h2>
            </header>
            <article>
                <h3 class="expl_subtitles"> General introduction </h3>
                On the visualisations tab, a dataset can be uploaded, which will be visualised. <br>
                Then, the desired visualisation can be selected from the dropdown menu, after which the visualisation will appear. <br>

                <h3 class="expl_subtitles"> Uploading the data </h3>
                The uploaded data must be in .csv format. <br>
                The following columns must be present in the data: <br>
                "date, fromId, fromEmail, fromJobtitle, toId, toEmail, toJobtitle, messageType, sentiment" <br>

                <h3 class="expl_subtitles"> Choosing the visualisation(s) </h3>
                Use the drop down menu (or number key) to select the visualisation(s) you want to see. <br>
                You can choose to show a Radial Nodes and Links graph or a Force Directed graph. <br>

            </article>
        </section>
        

        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/umDr0mPuyQc?autoplay=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
        
    </body>
</html>
