<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </head>

    <body>


        <nav>
            <a class="active" href="/">Home</a>
            <a href="visualisation"> Visualisation</a>
            <a href="about"> About</a>
        </nav>

        <section id="explanation">
            <header>
                <h2><em> How to use this website?</em></h2>
            </header>
            <article>
                <h3 class="expl_subtitles"> General introduction </h3>
                On the visualisations tab, a dataset can be uploaded, which will be visualised. <br>
                Then, the desired visualisations will appear. <br>

                <h3 class="expl_subtitles"> Interactivity </h3>
                Underneath the visualisations you can find a date slider and a job category sorter. <br>
                The visualisations only show nodes and edges that are included in the range of the slider. <br>
                The category sorter allows you to only show edges and nodes of a specified occupation. <br>

                <h3 class="expl_subtitles"> Uploading the data </h3>
                The uploaded data must be in .csv format. <br>
                The following columns must be present in the data: <br>
                "date, fromId, fromEmail, fromJobtitle, toId, toEmail, toJobtitle, messageType, sentiment" <br>

            </article>
        </section>
        

        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/umDr0mPuyQc?autoplay=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
        
    </body>
</html>
